<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="https://buckmandonny.netlify.com/">Donny</a>A web developer who is on a mission develop applications that make the world a better place.
  </p>
  <br />
  <p>
    Here's to saying goodbye to the imposter syndrome I have struggled with my entire life.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
  	<div class="col-12 col-sm-4">
  		<%= image_tag 'me.jpg', class: 'img-fluid' %>
  	</div>

  <div class="col-12 col-sm-7 offset-sm-1">
  	<h2 class="text-center">Donny Buckman</h2>
  	<br />
  	<p>
  		Donny Buckman is a 5th grade teacher who is working toward becoming a software developer.
  	</p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />


</div>